<form action="/create/<%=@subreddit.id%>/submission/" method="post">
	<div>Title: <input type="text" name="title" /></div>
	<div>Link URL: <input type="text" name="link" /></div>
	<div>Body: <textarea name="body" cols="60" rows="10"></textarea></div>
	<button type="submit">Create Submission</button>
</form>