<h1>Reddit</h1>
<a href='/new/'>Create SubReddit</a>

<div class="subreddit-container">

<ul>
<li><% @subreddits.each do |subreddit| %>
	<form action="/r/<%=subreddit.title%>/" method="post">
	<input type="submit" name="subreddit" value="<%=subreddit.title%>" />
	</form>
</li>
<%end%>
</div>

